.App {
  display: flex; }
  .App .sidebar {
    height: 100vh;
    width: 6vw;
    background: linear-gradient(#ff4d4d, #cccccc);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .App .sidebar h1 {
      font-size: 20px; }
    .App .sidebar a {
      text-decoration: none;
      margin: 3px;
      color: white; }
    .App .sidebar ::placeholder {
      color: white; }
    .App .sidebar #newboard {
      margin: 3px;
      width: 90%;
      border: none;
      background: transparent; }
  .App .board {
    display: flex;
    height: 100vh;
    width: 94vw;
    background-color: aliceblue;
    align-items: flex-start; }
    .App .board .addCol {
      background: #66b3ff;
      width: 300px;
      border-radius: 0.5em;
      padding: 10px;
      margin: 20px;
      display: flex;
      justify-content: space-between; }
      .App .board .addCol ::placeholder {
        color: white; }
      .App .board .addCol input {
        border: transparent;
        background: #66b3ff;
        font-size: 20px;
        color: white; }
      .App .board .addCol button {
        border: transparent;
        background: #66b3ff;
        font-size: 20px;
        color: white; }
    .App .board .column {
      height: 90vh;
      width: 20vw;
      background: #66b3ff;
      display: flex;
      margin: 20px;
      flex-direction: column;
      align-items: center;
      border-radius: 0.5em; }
      .App .board .column .addTask {
        background-color: white;
        width: 85%;
        border-radius: 0.5em;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: space-between; }
        .App .board .column .addTask input {
          border: transparent;
          font-size: 20px; }
        .App .board .column .addTask button {
          border: transparent;
          background-color: white;
          font-size: 20px;
          color: #66b3ff; }
      .App .board .column .task {
        background-color: white;
        width: 85%;
        border-radius: 0.5em;
        padding: 10px; }
        .App .board .column .task div {
          display: flex;
          justify-content: space-between; }
        .App .board .column .task h1 {
          font-size: 20px; }
