@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: Nunito;
}

.App .sidebar {
  min-height: 100vh;
  width: 15em;
  background: #25313e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.App .sidebar img {
  height: 90px;
  margin-top: 24px;
}

.App .sidebar h1 {
  font-size: 2.5em;
  color: white;
}

.App .sidebar a {
  text-decoration: none;
  margin-bottom: 16px;
  color: white;
  font-family: Nunito;
  font-size: 1.6em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 auto;
  padding: 8px;
  -webkit-transition: 0.5px;
  transition: 0.5px;
  width: 90%;
}

.App .sidebar a:hover {
  background-color: #192431;
}

.App .sidebar a:focus {
  background-color: #192431;
}

.App .sidebar ::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.App .sidebar :-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.App .sidebar ::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.App .sidebar ::placeholder {
  color: white;
  opacity: 0.5;
}

.App .sidebar #newBoard {
  width: 80%;
  border: none;
  padding: 8px;
  border-radius: 2px;
  background-color: #192431;
  color: white;
  font-size: 1em;
  margin-top: 16px;
}

.App .sidebar #newBoard:focus {
  outline: none;
}

.App .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 94vw;
  background-color: #f1f3f7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px;
}

.App .board .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .board .addCol {
  background: #fff;
  width: 200px;
  border-radius: 0.5em;
  padding: 10px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .board .addCol ::-webkit-input-placeholder {
  color: black;
  opacity: 0.5;
}

.App .board .addCol :-ms-input-placeholder {
  color: black;
  opacity: 0.5;
}

.App .board .addCol ::-ms-input-placeholder {
  color: black;
  opacity: 0.5;
}

.App .board .addCol ::placeholder {
  color: black;
  opacity: 0.5;
}

.App .board .addCol #newColumn {
  border: transparent;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
}

.App .board .addCol #newColumn:focus {
  outline: none;
}

.App .board .column {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 90vh;
  height: auto;
  width: 300px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  padding: 20px;
  -webkit-box-shadow: -0.2rem 0.75rem 3.375rem 0 rgba(78, 98, 117, 0.1);
          box-shadow: -0.2rem 0.75rem 3.375rem 0 rgba(78, 98, 117, 0.1);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1ms;
          animation-duration: 1ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.App .board .column h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.App .board .column input {
  background-color: #fff;
  width: 80%;
  border-radius: 0.5em;
  padding: 10px;
  margin-top: 24px;
  border: 2px solid grey;
  font-size: 16px;
  font-family: Nunito;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  font-weight: bold;
}

.App .board .column input:focus {
  outline: none;
  border: 2px solid black;
}

.App .board .column .task {
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1.375rem 0 rgba(78, 98, 117, 0.2);
          box-shadow: 0rem 0.1rem 1.375rem 0 rgba(78, 98, 117, 0.2);
  border-radius: 0.5em;
  padding: 16px;
  margin-top: 16px;
}

.App .board .column .task .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .board .column .task .head .delete {
  height: 28px;
}

.App .board .column .task ul {
  margin: 8px;
}

.App .board .column .task ul li {
  list-style-type: circle;
  width: 85%;
  font-weight: bold;
  opacity: 0.9;
  font-size: 1.1em;
}

.App .board .column .task ul li button {
  float: right;
  border: none;
  border-radius: 0.5em;
  opacity: 0.6;
}

.App .board .column .task #subAdd {
  padding: 4px;
  background: rgba(78, 98, 117, 0.2);
  border: none;
  width: 80%;
  padding-left: 8px;
}

.App .board .column .task h1 {
  font-size: 20px;
  margin: 0px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.task-list {
  width: 300px;
  margin: 0 auto;
}
/*# sourceMappingURL=App.css.map */