.App{
  display:flex;
  .sidebar{
    height: 100vh;
    width: 5vw;
    background: linear-gradient(#ccffff, #1a53ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    button{ 
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin: 10px;
      border: none;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      font-size: 20px;
    }
  }
  .board{
    display:flex;
    height: 100vh;
    width: 95vw;
    background-color: aliceblue;
    align-items: flex-start;
    .addCol{
      background: #66b3ff;
      width: 300px;
      border-radius:  0.5em;
      padding: 10px;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      ::placeholder{
        color:white;
        } 
      input{
        border:transparent;
        background: #66b3ff;
        font-size: 20px;
        color:white;
        
        }
        button{
          border: transparent;
          background: #66b3ff;
          font-size: 20px;
          color: white;
        }
    }
    .column{
      height: 90vh;
      width: 20vw;
      background: #66b3ff;
      display: flex;
      margin: 20px;
      flex-direction: column;
      align-items: center;
      border-radius:  0.5em;
      .addTask{
        background-color: white;
        width: 85%;
        border-radius:  0.5em;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        input{
          border:transparent;
          font-size: 20px;
        }
        button{
          border: transparent;
          background-color: white;
          font-size: 20px;
          color: #66b3ff;
        }
      }
      .task{
        background-color: white;
        width: 85%;
        border-radius:  0.5em;
        padding: 10px;
        div{
          display: flex;
          justify-content: space-between;
        }
        h1{
          font-size: 20px;
          
        }
      }
    }
  }
  
}